.text {
    margin: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.appImage {
    /* display: flex; */
    text-align: left;
    height: 20vmin;
    margin: 1em;
    padding: auto;
}

.projectTitle {
    margin: 0.5em;
    font-weight: bold;
    text-align: left;
}

ul {
    padding: 0;
}

ul li.t {
    align-self: left;
    list-style: none;
    display: inline;
    padding: 0 0 0.3em;
    margin-right: 1em;
    font-size: 20px;
    border-bottom: 3px solid #ffffff !important;
}